@{
    ViewBag.Title = "About CHS Auction";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<article>
    <p>
        This auction is to benefit the Colchester High School Project Graduation.
    </p>

    <p>
        We do not store any payment method on this site. Once the auction is over, the coordinator will contact you to arrange payment and pickup.
    </p>

    <p>

    </p>
</article>
